<h1>Pixelboard</h1>

<div *ngIf="selectedPixel" style="background: #eee; padding: 10px; margin-bottom: 10px; border: 1px solid #333;">
  Gewähltes Pixel: X: {{ selectedPixel.x }} / Y: {{ selectedPixel.y }}
</div>

<div class="board-container" *ngIf="board.length > 0">
  <div *ngFor="let row of board; index as y">
    <div 
      *ngFor="let pixel of row; index as x" 
      class="pixel"
      (click)="onPixelClick(x, y)"
      [style.background-color]="'rgb(' + pixel.Red + ',' + pixel.Green + ',' + pixel.Blue + ')'">
    </div>
  </div>
</div>

<div *ngIf="board.length === 0">
  <p>Lade Daten vom Backend...</p>
  <small>(Falls hier nichts passiert: Ist 'Start Game' im Admin Panel gedrückt?)</small>
</div>